* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header h1{
    background-color: black;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 15px;
    height: 40px;
  }
  .navbar {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    /* position: fixed; */
    width: 100%;
  }
  
  .logo img {
    width: 55px; 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
  }
  
  .nav-links li a:hover {
    background-color: #555;
    border-radius: 4px;
  }
  
  .icons a {
    color: #333;
    font-size: 22px;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .icons a:hover {
    color: #ddd;
  }
  

  
  .slider-container {
     /* width: 10000%; */
    max-width: 1600px;
    overflow-x: scroll;
    border-radius: 8px;
    border: 2px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .slider img {
    display: inline;
    width: auto;
    height: 100%; 
  }

  p {
    text-align: center;
    font-family: Helvetica;
    padding-top: 120px;
    font-weight: 400;
    font-size: 28px;
  }

  .button-container {
    text-align: center;
    padding-top: 100px;
  }
  
  .oval-button {
    
    padding: 10px 30px;
    font-size: 18px;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 90%; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .oval-button:hover {
    background-color: #0056b3; 
  }
   
  h2 {
    margin-top: 60px;
    text-align: center;
  }

  .arrow {
    margin-top: 20px;
    margin-left: 93%;
    background-color: white;
    width: 100px;
    height: 1px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    max-width: 1300px;
    padding: 20px;
    margin-top: 90px;
    margin-left: 100px;
    overflow: hidden;
}

.gallery-item {
    position: relative;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.cart-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2d1364;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.cart-button:hover {
    background-color: #3a914b;
}


.page3 h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 10%;
}

.page3 p {
  padding-top: 30px;
  font-size: 18px;
}

.page3  .oval-button {
    
  padding: 10px 30px;
  font-size: 18px;
  color: orange;
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 90%; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.oval-button:hover {
  background-color: #0056b3; 
}

.page4 h1 { 
  text-align: center;
  margin-top: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
}
  
  
.gallery-item {
    width: 250px;
    text-align: center;
}
  
  
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
  
.gallery-item button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
  
.gallery-item button:hover {
    background-color: #874677;
  }

  footer {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex-basis: 30%;
}

.footer-section h3   
 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section p, .footer-section ul {
    font-size: 16px;
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}